<meta charset=utf-8>
<header class="page-header kotei">
	<div class="container-fluid border-bottom">
		<div class="row col-xs-4">
				<%= link_to image_tag('logo.png', :size => '200x100'), root_path %> <!-- ロゴ表示 -->
			</div>
			<div class="col-xs-4">
				<div class="searchbox">
			    	<%= search_form_for @q, url: root_path do |f| %>
			    	<%= f.text_field :cd_name_cont,placeholder: '検索する商品名を入力...' %>
                    <%= f.submit %>
			    </div>
			    <% end %>
			</div>
			<div class="col-xs-4">
				<div class="row">
				  <div class="col-xs-6 center-block">
					 <%= link_to "新規登録", new_end_user_registration_path %>
				  </div>
				  <div class="col-xs-6">
					 <%= link_to "ログイン", new_end_user_session_path %>
				  </div>
				</div>
			</div>
	</div>
</header><!-- /header -->