<meta charset=utf-8>
<header>
	<div class="container border-bottom">
		<div class="row col-xs-2 d-inline-block">
			<h2>hoge</h2>     <!-- アイコン表示調べる -->
			<h2>hoge</h2>
		</div>
		<div class="row col-xs-5 d-inline-block">
			<div class="row"></div>   <!-- 検索機能付ける-->
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "商品一覧", "#" %>   <!-- リンク先直す -->
				</div>
				<div class="col-xs-4">
					<%= link_to "ユーザー一覧", "#" %>  <!-- リンク先直す -->
				</div>
				<div class="col-xs-4">
					<%= link_to "ログアウト", destroy_administrator_session_path, method: :delete %>  <!-- リンク先直す -->
				</div>
			</div>
		</div>
		<div class="row col-xs-5 d-inline-block">
			<div class="col-xs-3">
				<%= link_to "注文依頼", "#" %>  <!-- リンク先直す -->
			</div>
			<div class="col-xs-3">
				<%= link_to "入荷履歴", "#" %>  <!-- リンク先直す -->
			</div>
			<div class="col-xs-3">
				<%= link_to "新規商品追加", "#" %>  <!-- リンク先直す -->
			</div>
			<div class="col-xs-3">
				<%= link_to "問い合わせ", "#" %>  <!-- リンク先直す -->
			</div>
		</div>
	</div>
</header><!-- /header -->