<meta charset=utf-8>
<header class="page-header">
	<div class="container-fluid border-bottom">
			<div class="row col-xs-3">
				<%= link_to image_tag('logo.png', :size => '250x100'), root_path %>
			</div>
			<div class="row col-xs-4">
			    <div class="searchbox">
			    	<%= search_form_for @q, url: root_path do |f| %>
			    	<%= f.text_field :cd_name_cont,placeholder: '検索する商品名を入力...' %>
                    <%= f.submit %>
			    </div>
            <% end %>
            </div>
			<div class="row col-xs-5">
				<div class="row">
					<p><span>ようこそ！</span><%= current_end_user.last_name_kanji + current_end_user.first_name_kanji %><span>さん</span></p>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<%= link_to root_path do %>
						 <i class="fas fa-home fa-2x"></i>ホーム
						 <% end %>
					</div>
					<div class="col-xs-3">
						<%= link_to user_path(current_end_user.id) do %>
						<i class="fas fa-user fa-2x"></i>マイページ
						<% end %>
					</div>
					<div class="col-xs-3">
						<%= link_to cart_items_path(current_end_user.id) do %>
						<i class="fas fa-shopping-cart fa-2x"></i>カート
						<% end %>
					</div>
					<div class="col-xs-3">
						<%= link_to destroy_end_user_session_path, method: :delete do %>
						 <i class="fas fa-sign-out-alt fa-2x"></i>ログアウト
						 <% end %>
					</div>
				</div>
			</div>
	</div>
</header><!-- /header -->