

<div style="width: 600px; margin: 50px auto" >
  <div style="border: 1px solid black; border-radius: 30px; margin: o auto; padding: 30px 0">
    <div style="margin-left: 50px">
      <h2 class="login_contents" style="font-size: 50px">hogehoge ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field login_contents">
          <%= f.label :email, "メールアドレス", :style=>"font-size: 18px" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :style=>"width: 300px" %>
        </div>

        <div class="field login_contents">
          <%= f.label :password, "パスワード", :style=>"font-size: 18px" %><br />
          <%= f.password_field :password, autocomplete: "current-password", :style=>"width: 300px" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field login_contents">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログイン状態を保存する" %>
          </div>
        <% end %>

        <div class="actions login_contents">
          <%= f.submit "ログイン", :class=>"btn btn-warning" %>
        </div>
      <% end %>
      <div class="login_contents">
        <%= render "end_users/shared/links" %>
      </div>
    </div>
  </div>
</div>
