<%= render 'shared/header_user_after_login' %>

<h1>ご注文内容の確認</h1>
<p>配送先</p>

<%= form_with model: @order_history, url: {action: 'create'}, local: true do |form| %>
<div class="field">
  <%= @order_history.last_name_kanji %>
  <%= form.hidden_field :last_name_kanji %>
</div>
<div class="field">
  <%= @order_history.first_name_kanji %>
  <%= form.hidden_field :first_name_kanji %>
</div>
<div class="field">
  電話番号<%= @order_history.telephone_number %>
  <%= form.hidden_field :telephone_number %>
</div>
<div class="field">
  郵便番号<%= @order_history.postal_code_1 %>
  <%= form.hidden_field :postal_code_1 %>
</div>
<div class="field">
  <%= @order_history.postal_code_2 %>
  <%= form.hidden_field :postal_code_2 %>
</div>
<div class="field">
  住所<%= @order_history.address %>
  <%= form.hidden_field :address %>
</div>

<p>お支払い方法</p>
<div class="field">
  <%= @order_history.pay_method %>
  <%= form.hidden_field :pay_method %>
</div>

<div class="actions">
  <%= form.submit '注文確定' %>
</div>

<% end %>

<%= form_with model: @order_history, url: new_order_history_path, local: true do |form| %>
  <%= form.hidden_field :last_name_kanji %>
  <%= form.hidden_field :first_name_kanji %>
  <%= form.hidden_field :telephone_number %>
  <%= form.hidden_field :postal_code_1 %>
  <%= form.hidden_field :postal_code_2 %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :pay_method %>
  <%= form.hidden_field :selected_order_histories_address_id, value: @address_info %>
<div class="actions">
  <%= form.submit '戻る', name: 'back' %>
</div>

<% end %>

<%= render 'shared/footer_user' %>