<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->

<p>購入履歴詳細画面</p>

  <!-- 計算用のeach文 -->
  <!-- each文で出て来る変数を定義 -->
  <% order_number_total = 0 %>
  <% order_total = 0 %>
  <% @order_history.order_details.each do |order_detail| %>
    <!-- 購入個数計算 -->
    <% order_number_total += order_detail.product_number %>
    <%# order_number_total = order_number_total + order_detail.product_number %>
    <!-- 購入金額計算 -->
    <% order_total += order_detail.product.price * order_detail.product_number * 1.08 %>
  <% end %>
  <%# binding.pry %>
  注文日<%= @order_history.created_at %>
  <!-- 購入個数表示 -->
  個数 <%= order_number_total %>
  <!-- 購入金額表示 -->
  合計 <%= order_total.to_i + 500 %>
  <%= @order_history.order_status %>

  <!-- 詳細情報表示用のeach文 -->
  <% @order_history.order_details.each do |order_detail| %>
    タイトル名<%= order_detail.product.cd_name %>
    <%= order_detail.product.price %>
    <%= order_detail.product_number %>
  <% end %>


  送付先
  <%= @order_history.last_name_kanji %><%= @order_history.first_name_kanji %>
  <%= @order_history.telephone_number %>
  <%= @order_history.address %>

<!-- フッター -->
<% if end_user_signed_in? %>
<%= render "shared/footer_user_after_login" %>
<% else %>
<%= render "shared/footer_user_before_login" %>
<% end %>
<!-- フッダー -->
