<%= render "shared/header_user_after_login" %>

<!-- ヘッダーここまで -->
<h2>カート編集ページ</h2>
<div class="container">
	<div class="row">
		<div class="col-xs-5 image">
            <%= image_tag @cart_item.product.image_id.to_s, size: "200x200" %>
        </div>

		<div class="col-xs-7">
			<h4 class="name"><%= @cart_item.product.cd_name%></h4>
			<div>
				<%= form_for @cart_item, url: cart_item_path(@cart_item.id) do |f| %>
				* 変更する個数を選択して下さい！！➡︎
				<%= f.number_field :product_number %> 個<div><br>
				<%= f.submit '編集完了',  class: " btn btn-primary" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- フッター -->
<%= render "shared/footer_user_after_login" %>

