<%= render "shared/header_admin_after_login" %>
<div style="margin: 30px auto; width: 1100px; padding-left: 100px">
  <div>
    <div class="mypage_content">
        <div style="font-size: 35px"><%= "#{@user.last_name_kanji} #{@user.first_name_kanji}" %></div>
    </div>

    <div class="mypage_content">
      <div class="form_inlineblock">
        <h6>お名前(カナ)</h6>
      </div>
      <div class="form_inlineblock">
        <div><%= @user.last_name_katakana %></div>
      </div>
      <div class="form_inlineblock">
        <div><%= @user.first_name_katakana %></div>
      </div>
    </div>

    <div class="mypage_content">
      <div class="form_inlineblock">
        <h6>メールアドレス</h6>
      </div>
      <div class="form_inlineblock">
        <div><%= @user.email %></div>
      </div>
    </div>

    <div class="mypage_content">
      <div class="form_inlineblock">
        <h6>郵便番号</h6>
      </div>
      <div class="form_inlineblock">
        <span>〒</span>
        <span><%= @addresses_is_main.postal_code_1 %></span>
        <span>-</span>
        <span><%= @addresses_is_main.postal_code_2 %></span>
      </div>
    </div>

    <div class="mypage_content">
      <div class="form_inlineblock">
        <h6>ご住所</h6>
      </div>
      <div class="form_inlineblock">
        <div><%= @addresses_is_main.address %></div>
      </div>
    </div>

    <div class="mypage_content">
      <div class="form_inlineblock">
        <h6>電話番号</h6>
      </div>
      <div class="form_inlineblock">
        <div><%= @addresses_is_main.telephone_number %></div>
      </div>
    </div>
    <%= link_to "このユーザを退会させる", "/admin/end_users/#{@user.id}/destroy", class: "btn btn-danger", style: "margin-bottom: 20px;", method: :post, "data-confirm" => "本当に退会させますか？" %>
  </div>
  <% if @order_histories != [] %>
    <div style="border-bottom: 1px solid black"></div>
  <% end %>
  <div>
    <% if @order_histories != [] %>
      <h3 style="margin-bottom: 50px">購入履歴</h3>
    <% end %>
    <% @order_histories.each do |order_history| %>
      <div class="table_border_bottom" style="padding-bottom: 20px; margin-bottom: 50px;">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>購入日</td>
              <td><%= order_history.created_at.strftime("%Y年%-m月%-d日") %></td>
              <td colspan="2"></td>
            </tr>
            <% order_history.order_details.each do |order_detail| %>
              <tr>
                <td></td>
                <td><%= "#{order_detail.product.cd_name}/#{order_detail.product.artist_name}" %></td>
                <td><%= "#{number_to_currency(order_detail.unit_price)} × #{order_detail.product_number}" %></td>
                <td><%= number_to_currency(order_detail.unit_price * order_detail.product_number) %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="2"></td>
              <td>小計</td>
              <td><%= number_to_currency(order_history.subtotal) %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>税</td>
              <td><%= number_to_currency(order_history.tax) %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>送料</td>
              <td><%= number_to_currency(order_history.delivery_fee) %></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>総計</td>
              <td><%= number_to_currency(order_history.total_price) %></td>
            </tr>
            <tr>
              <td rowspan="3">送付先</td>
              <td><%= "#{order_history.last_name_kanji} #{order_history.first_name_kanji}" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td><%= "〒#{order_history.postal_code_1}-#{order_history.postal_code_2}" %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td><%= order_history.address %></td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td><%= order_history.order_status %></td>
              <td colspan="2"></td>
            </tr>
          </tbody>
        </table>
        </div>
      <% end %>
    </div>
</div>
<%= render "shared/footer_admin" %>
