<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->


<div class="container">
	<div class="row col-md-6 col-md-offset-3">
		<section>
			<h1 class="text-center">退会手続き</h1>
			<p class="text-danger">退会前に必ずお読みください</p>
		</section>
	</div>
	<div class="row col-md-6 col-md-offset-3 border">
		<p>退会されますと、以下のサービスが利用できなくなります。</p>
		<ul>
			<li>プロフィール情報</li>
			<li>発送前の注文状況</li>
			<li>変更・購入履歴</li>
			<li>その他、ログインを必要とする全てのサービス</li>
		</ul>
		<p class="bg-danger">以後、同じメールアドレスで再登録した場合でも、<br>以前利用していた情報は復元されません。</p>
	</div>
	<div class="btn-group col-md-6 col-md-offset-3 ">
		<%= link_to '退会する', "/users/#{current_end_user.id}/destroy", class: "btn btn-danger", method: :post, "data-confirm" => "本当に退会しますか？" %>
	</div>
</div>

<!-- フッター -->
<% if end_user_signed_in? %>
<%= render "shared/footer_user_after_login" %>
<% else %>
<%= render "shared/footer_user_before_login" %>
<% end %>
<!-- フッダー -->
