<%= render "shared/header_user_after_login" %>
<div class="container">
  <h2>会員情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field signup_contents_name">
      <p style="display: inline-block; margin-right: 25px">名前</p>
      <div style="display: inline-block">
        <%= f.label :last_name_kanji, "(姓)" %><br />
        <%= f.text_field :last_name_kanji, autofocus: true %>
      </div>
      <div style="display: inline-block">
        <%= f.label :first_name_kanji, "(名)" %><br />
        <%= f.text_field :first_name_kanji %>
      </div>
    </div>

    <div class="field signup_contents_name">
      <p style="display: inline-block; margin-right: 25px">名前(カナ)</p>
      <div style="display: inline-block">
        <%= f.label :last_name_katakana, "(セイ)" %><br />
        <%= f.text_field :last_name_katakana, autofocus: true %>
      </div>
      <div style="display: inline-block">
        <%= f.label :first_name_katakana, "(メイ)" %><br />
        <%= f.text_field :first_name_katakana %>
      </div>
    </div>

    <div class="field signup_contents">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field signup_contents">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em>※<%= @minimum_password_length %>文字以上入力</em>
      <% end %>
    </div>

    <div class="field signup_contents">
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.fields_for :addresses, @address do |af| %>
      <div class="field signup_contents">
        <p style="display: inline-block; margin-right: 25px">郵便番号</p>
        <div style="display: inline-block">
          <%= af.label :postal_code_1, "〒" %>
          <%= af.text_field :postal_code_1 %>
        </div>
        <div style="display: inline-block">
          <%= af.label :postal_code_2, "-" %>
          <%= af.text_field :postal_code_2 %>
        </div>
      </div>
      <div class="field signup_contents">
        <%= af.label :address, "住所" %>
        <%= af.text_field :address %>
      </div>
      <div class="field signup_contents">
        <%= af.label :telephone_number, "電話番号" %>
        <%= af.text_field :telephone_number %>
      </div>
    <% end %>

    <div class="field signup_contents">
      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <i>※(本人確認のため現在のパスワードを入力してください)</i>
    </div>


    <div class="actions signup_contents">
      <%= f.submit "更新", :class => "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "マイページへ戻る", :back, :class => "signup_contents" %>
</div>

<%= render "shared/footer_user" %>
