<h2>会員情報編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field signup_contents_name">
    <p style="display: inline-block; margin-right: 25px">名前</p>
    <div style="display: inline-block">
      <%= f.label :last_name_kanji, "(姓)" %><br />
      <%= f.text_field :last_name_kanji, autofocus: true %>
    </div>
    <div style="display: inline-block">
      <%= f.label :first_name_kanji, "(名)" %><br />
      <%= f.text_field :first_name_kanji %>
    </div>
  </div>

  <div class="field signup_contents_name">
    <p style="display: inline-block; margin-right: 25px">名前(カナ)</p>
    <div style="display: inline-block">
      <%= f.label :last_name_katakana, "(セイ)" %><br />
      <%= f.text_field :last_name_katakana, autofocus: true %>
    </div>
    <div style="display: inline-block">
      <%= f.label :first_name_katakana, "(メイ)" %><br />
      <%= f.text_field :first_name_katakana %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "パスワード" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上入力</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
    <%#= binding.pry %>
    <%= f.fields_for :addresses, @address do |af| %>
      <div>
        <p style="display: inline-block; margin-right: 25px">郵便番号</p>
        <div style="display: inline-block">
          <%= af.label :postal_code_1, "〒" %>
          <%= af.text_field :postal_code_1 %>
        </div>
        <div style="display: inline-block">
          <%= af.label :postal_code_2, "-" %>
          <%= af.text_field :postal_code_2 %>
        </div>
      </div>
      <div class="field signup_contents">
        <%= af.label :address, "住所" %>
        <%= af.text_field :address %>
      </div>
      <div class="field signup_contents">
        <%= af.label :telephone_number, "電話番号" %>
        <%= af.text_field :telephone_number %>
      </div>
    <% end %>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
