<div class="nested-fields">
	<div class="field">
	<label>ディスク番号</label><br>
	<%= f.number_field :disk_number, :value =>"" %>
	<%= link_to_remove_association "ディスク削除", f, class: 'btn btn-danger btn-sm', role: 'button' %>
	</div>
	<div class="field">
		<label>曲名</label>

	        <%= f.fields_for :songs do |s| %>
	        <%= render 'song_fields', f: s %>
	      <% end %>
	      <div class="links">
	      	<div style="margin-bottom: 30px;">
			<%= link_to_add_association '曲を追加', f, :songs %>
		  </div>
	</div>
</div>