
<%= render "shared/header_admin_after_login" %>

<div class="container">
  <%= "ID: #{@product.id}" %><br>
  <div class="row">
    <div class="col-xs-5">
      <% if @product.stock(@product.id) == 0 %>
        <div class="sold-out" style="position: relative;">
          <%= image_tag @product.image_id.url, size: "300x300" %>
          <div>
            <%= image_tag "soldout.png", size: "300x300", :style => "opacity: 0.9; position: absolute; top: 0; left: 0;" %>
          </div>
        </div>
      <% else %>
        <%= image_tag @product.image_id.url, size:'300x300' %>
      <% end %>
    </div>
    <div class="col-xs-7">
      <div>
        <%= @product.cd_name %>
      </div><br>
      <div>
        <%= @product.artist_name %>
      </div><br>
      <div>
        <%= "#{@product.genre.genre_name}/#{@product.label_name}" %>
      </div><br>
      <div>
        <%= "#{number_to_currency(@product.price)} (税別価格)" %>
      </div><br>
      <div>
        <%= "在庫数#{@product.stock(@product.id)}" %>
      </div><br>
      <div style="margin-bottom: 30px;">
        <%= @product.product_status_i18n %>
      </div>
      <div>
        <%= link_to "在庫追加", new_arrival_history_path, :class => "btn btn-primary" %>
        <%= link_to "編集", edit_product_path, :class => "btn btn-success" %>
        <%= link_to "削除", "/products/#{@product.id}/delete", method: :delete, "data-confirm" => "本当に商品を削除しますか？", :class => "btn btn-danger" %>
      </div>
    </div>
  </div>

<% count = 0 %>

  <div class="row">
    <div class="col-xs-12">
      <h2>曲目リスト</h2>
      <% @product.disks.each do |disk| %>
        <table class="table table-striped" style="margin: 15px 0 30px;">
          <tbody>
            <tr>
              <td><%= "ディスク: #{disk.disk_number}" %></td>
            </tr>
            <% disk.songs.each do |song| %>
            <tr>
                <td><%= "#{count += 1}.#{song.song_name}" %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
        <% count = 0 %>
      <% end %>
    </div>
  </div>

<%= render "shared/footer_admin" %>