<!-- ヘッダー  -->
<% if administrator_signed_in? %>
<%= render "shared/header_admin_after_login" %>
<% else %>
<%= render "shared/header_admin_before_login" %>
<% end %>
<!-- ヘッダー ここまで -->



<div class="container">
	<div class="row" >
		<h2>ID :      <%= @product.id %></h2>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<%= image_tag @product.image_id.url, size:'300x300' %>
		</div>
		<div class="col-xs-7 lead">
			<div class="">
				<br><%= @product.cd_name %>
				<br><%= @product.artist_name %>
				<br><%= @product.label_name %>
				<br><%= @product.genre_id %>
				<br><%= @product.product_status_i18n %>
				<br><span>¥</span><%= @product.price %><span>（税抜き価格）</span>
				<br>在庫数 : 
			</div>
			<div class="row lead">
				<br><ins><%= link_to '在庫追加', "#" %></ins><span>  / </span><ins><%= link_to '編集', edit_product_path %></ins><span>  /  </span><ins><%= link_to '削除', "#" %></ins>
			</div>
		</div>
	</div>
</div>

					<!-- フッター  -->
<%= render "shared/footer_admin" %>