

<table>
	<tdbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= image_tag product.image_id.to_s %></td> <!-- carierwaveの画像を表示  -->
			<td><%= product.price %></td>
			<td><%= product.product_status %></td>
			<td><%= product.cd_name %></td>
			<td><%= product.is_deleted %></td>
			<td><%= product.artist.artist_name %></td>
			<td><%= product.label.label_name %></td>
		</tr>
		<% end %>

	</tdbody>
</table>





