<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->


<table>
	<tdbody>
		<% @products.each do |product| %>
		<tr>
			<% if product.product_status == "on_sale" %>
			    <td><%= image_tag product.image_id.url %></td> <!-- carierwaveの画像を表示  -->
			<% else %>
			    <td><%= image_tag "sold_out.jpg", size: "200x200" %></td>
			<% end %>
			<td><%= number_to_currency(product.price) %></td>
			<% if product.product_status == "on_sale" %>
			    <td><span>発売中</span></td>
			<% else %>
			    <td><span>販売停止中</span></td>
			<% end %>
			<td><%= product.cd_name %></td>
			<td><%= product.is_deleted %></td>
			<td><%=link_to "在庫追加", new_arrival_history_path(product.id) %></td>
		</tr>
		<% end %>

	</tdbody>
</table>

<!-- フッター -->
<%= render "shared/footer_user" %>




