<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->

		<% @products.each do |product| %>
		<div style="width: 250px; border: 1px solid black; margin: 5px; display: inline-block; text-align: center;">
			<div style="height: 210px; line-height: 210px;">
			<% if product.product_status == "on_sale" %>
			    <%= image_tag product.image_id.url %> <!-- carierwaveの画像を表示  -->
			<% else %>
			    <%= image_tag "sold_out.jpg", size: "200x200" %>
			<% end %>
		    </div>

			<div style=" border: 1px solid black; padding: 10px;">
              <%= product.cd_name %><br>
			  <%= product.artist_name %><br>
			  <%= number_to_currency(product.price) %><br>
		    </div>
    	</div>
	<% end %>

<!-- フッター -->
<%= render "shared/footer_user" %>




