
　<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->

<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<%= image_tag @product.image_id.url, size:'300x300' %>
			</div>
			<div class="col-xs-7">
				<div>
					<%= @product.cd_name %>
				</div><br>
				<div>
					<%= @product.label_name %>
				</div><br>
				<div>
					￥<%= @product.price %>（税込価格）
				</div>
			</div>

			<div>
				<%= form_for @cart_item, url: cart_items_path do |f| %>
				<%= f.number_field :product_number %>
				<%= f.hidden_field :product_id %>
				<div class="btn-area">
					<% if user_signed_in? %>
					<%= f.submit 'カートへ入れる', class:"btn btn-warning" %>
					<% end %>
				</div>
				<% end %>
			</div><br>

		<% count = 0 %>

			<div class="row">
				<div class="col-xs-12">
					<h2>曲目リスト</h2>
					<% @product.disks.each do |disk| %>
						<table class="table table-striped">
							<tbody>
								<tr>
									<td><%= "ディスク" + disk.disk_number.to_s %></td>
								</tr>
					            	<% disk.songs.each do |song| %>
					            <tr>
					                <td><%= "#{count += 1}.#{song.song_name}" %></td>
					            </tr>
					            <% end %>
							</tbody>
						</table>
					<% end %>
				</div>
			</div>


<!-- フッター -->
<% if end_user_signed_in? %>
<%= render "shared/footer_user_after_login" %>
<% else %>
<%= render "shared/footer_user_before_login" %>
<% end %>
<!-- フッダー -->
