
　<!-- ヘッダー  -->
<% if end_user_signed_in? %>
<%= render "shared/header_user_after_login" %>
<% else %>
<%= render "shared/header_user_before_login" %>
<% end %>
<!-- ヘッダーここまで -->

<div class="container">
		<div class="row">
			<% unless end_user_signed_in? %>
        	<div class="kakomi">
	        	<p>購入する場合は<%= link_to "ログイン", new_end_user_registration_path, :style=>"color:red;" %>をして下さい！！</p>
        	</div>
        	<% end %>
			<div class="col-xs-5">
				<% if @product.product_status == "on_sale" %>
					<%= image_tag "soldout.png", size: "200x200" %>
				<% elsif @product.stock(@product.id) == 0%>
		            <%= image_tag "soldout.png", size: "200x200" %>
		    <% else %>
		        	<%= image_tag @product.image_id.url, size: "150x150" %>
		    <% end %>
			</div>

			<div class="col-xs-7">
				<div>
					<%= @product.cd_name %>
				</div><br>
				<div>
					<%= @product.label_name %>
				</div><br>
				<div>
					￥<% sum = @product.price * 1.08 %>
					<%= number_to_currency(sum.floor) %>（税込）
				</div><br>
				<% if end_user_signed_in? %>
					<div>
						<div>
							<%= form_for @cart_item, url: cart_items_path do |f| %>
								<%= f.number_field :product_number, min: 1, value: 1 %>
								<%= f.hidden_field :product_id %> 個
						</div><br>
							<%= f.submit 'カートへ入れる', class:"btn btn-warning" %>
							<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<% count = 0 %>

			<div class="row">
				<div class="col-xs-12">
					<h2>曲目リスト</h2>
					<% @product.disks.each do |disk| %>
						<table class="table table-striped">
							<tbody>
								<tr>
									<td><%= "ディスク" + disk.disk_number.to_s %></td>
								</tr>
					            	<% disk.songs.each do |song| %>
					            <tr>
					                <td><%= "#{count += 1}.#{song.song_name}" %></td>
					            </tr>
					            <% end %>
							</tbody>
						</table>
					<% end %>
				</div>
			</div>


<!-- フッター -->
<% if end_user_signed_in? %>
<%= render "shared/footer_user_after_login" %>
<% else %>
<%= render "shared/footer_user_before_login" %>
<% end %>
<!-- フッダー -->
